<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/side.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/fonts/styles.css" />
    <script src="main.js"></script>
    <script src="../views/components/side.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">item 1</a>
        <a href="#">item 2</a>
        <a href="#">item 3</a>
        <a href="#">item z</a>
    </div>
              
    <span onclick="openNav()"><i class="fas fa-angle-double-right"></i></span>
              
    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">
    ...hello word.
    </div>
</body>
</html>