<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="description" content="contador de baches de Chicoloapan">
	<!-- este meta es para aplicaciones moviles en aple en relacion al zoom y tamaño-->
	<!--<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">-->
	<!-- esto es para cuando una página contiene enlaces que no necesariamente respaldas (este es el caso de páginas en las que el contenido está generado por el usuario).  http://deteresa.com/meta-robots/-->
	<!-- <meta name=”robots” content=”noindex, follow”> -->
	<!-- referrer es por lo que entendi pasar de https (goglee face, etc) a http http://smerity.com/articles/2013/where_did_all_the_http_referrers_go.html-->
    <meta name = "referrer" content = "always">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="C:\Users\david.ramirezr\Documents\chicoloapan\chicoloapan.github.io\Public\css\topnav.css">
    <!---<link rel="stylesheet" type="text/css" href="C:\Users\david.ramirezr\Documents\chicoloapan\chicoloapan.github.io\opcion 2\css\font-awesome.min.css">-->
    <!---para usar jquery-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
	<script type="text/javascript" src="C:\Users\david.ramirezr\Desktop\login\opcion 2\js\header.js"></script>
	<title>CHICOLOAPAN</title>
</head>
<body>
    <header id="header">
        <nav class="menu">
            <div class="logo">
                <!--me gustaria una imagen de 250x37 px-->
                <a href="#"><img src="C:\Users\david.ramirezr\Documents\chicoloapan\chicoloapan.github.io\opcion 2\img\logo.png" alt=""></a>
                <a href="#" class="btn-menu" id="btn-menu"><i class="icono fas fa-bars"></i></a>
            </div>

            <div class="enlaces" id="enlaces">
                <a href="#"><i class="fas fa-search"></i></a>
				<a href="#"><i class="far fa-bell"></i></a>
				<a href="#"><i class="fab fa-whmcs"></i></a>
				<a href="#"><i class="fas fa-user-circle"></i></a>
            </div>
        </nav>
    </header>
    <main>
        <!---despues se modificara esta seccion-->
        <section>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
        </section>
    </main>
    
    <!--esto es para el nav-->
    <!---esto es para cargar el archivo de jquery pero ya lo tengo web-->
    <!---<script src="C:\Users\david.ramirezr\Documents\chicoloapan\chicoloapan.github.io\opcion 2\js\jquery-3.3.1.min.js"></script>-->
    <!---<script src="C:\Users\david.ramirezr\Documents\chicoloapan\chicoloapan.github.io\opcion 2\js\headroom.min.js"></script>-->
    <script src="C:\Users\david.ramirezr\Documents\chicoloapan\chicoloapan.github.io\Public\js\topnav.js"></script>


</body>
</html>