<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="description" content="Chicoloapan">
	<meta name = "referrer" content = "always">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/topnav.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
	<title>CHICOLOAPAN</title>
</head>
<body>
    <header id="header">
        <nav class="menu">
            <div class="logo">
                <a href="#"><img src="../imgs/image_company_name.jpg" alt="Logo" width="250"></a>
                <a href="#" class="btn-menu" id="btn-menu"><i class="icon fas fa-bars"></i></a>
            </div>

            <div class="links" id="links">
                <a href="#"><i class="fas fa-search"></i></a>
				<a href="#"><i class="far fa-bell"></i></a>
				<a href="#"><i class="fab fa-whmcs"></i></a>
				<a href="#"><i class="fas fa-user-circle"></i></a>
            </div>
        </nav>
    </header>
  <script src="../js/topnav.js"></script>
</body>
</html>