html, body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 100px auto;
    position: relative;
} 

nav{
    background-color: #faa3;
    grid-column: 1/-1;
    grid-row: 1/span 1;
    display: grid;

}
main{
    background-color: #afa3;
    grid-column: 2/-1;
    grid-row: 2/span 1;
    display: grid;
}
aside{
    background-color: #aaf3;
    grid-column: 1/ span 1;
    grid-row: 2/span 1;
}

.message{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 20px;
    margin-top: 50px;
    min-height: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 1px 1px #0009;
    background-color: #0009;
    color: #fff;
    transition: 1s ease-in-out;
}
.message:hover{
    background-color: #0099;
}
.translate-up-200{
    transform: translateY(-300px);
}