
@import url(https://fonts.googleapis.com/css?family=Lato);


/* Navigation Bar Style*/
ul {
    font-family: 'Lato';
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 300px;
}

li {
    font-family: 'Lato';
    float: right;
}

li a {
    font-family: 'Lato';
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    font-family: 'Lato';
    background-color: #111;
}

/* Style the search box inside the navigation bar */
input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

img { 
    float: right;
    width:42px;
    height:42px;
    border:0;
}
