
@import url(https://fonts.googleapis.com/css?family=Lato);

html, body{
    font-family: 'Lato';
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato';
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 100px auto;
    position: relative;
} 

nav{
    font-family: 'Lato';
    background-color: #faa3;
    grid-column: 1/-1;
    grid-row: 1/span 1;
    display: grid;

}
main{
    font-family: 'Lato';
    background-color: #afa3;
    grid-column: 2/-1;
    grid-row: 2/span 1;
    display: grid;
}
aside{
    font-family: 'Lato';
    background-color: #aaf3;
    grid-column: 1/ span 1;
    grid-row: 2/span 1;
}

.message{
    font-family: 'Lato';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 20px;
    margin-top: 50px;
    min-height: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 1px 1px #0009;
    background-color: #0009;
    color: #fff;
    transition: 1s ease-in-out;
}
.message:hover{
    font-family: 'Lato';
    background-color: #0099;
}
.translate-up-200{
    font-family: 'Lato';
    transform: translateY(-300px);
}

/* Navigation Bar Style*/

/* Add a black background color to the top navigation */
.topnav {
    font-family: 'Lato';
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    font-family: 'Lato';
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    font-family: 'Lato';
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    font-family: 'Lato';
    background-color: #4CAF50;
    color: white;
}